html {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 100%;
}

h1 {
    text-align: center;
}
  
#timer {
    font-weight: bold;
    font-size: 4em;
}